body {
  background-color: #282c34 !important;
  color: white !important;
}

.App {
  text-align: center;
}

h3,
h4 {
  margin: 0;
  height: 15%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.login-form {
  width: 50%;
  margin: auto;
  padding: 50% 0;
}
.title {
  height: 10vh;
  margin: 0;
}

.choices-container,
.movies-container {
  border: 1px solid white;
  width: 99%;
  height: 500px;
}

.movies-container {
  margin-top: 10%;
}

.movies-list,
.choices-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: auto;
}

.movie-card {
  width: 200px;
  height: 400px;
  border: 1px solid white;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.movie-img {
  width: 200px;
  height: 70%;
}

/* .icons {
  height: 10%;
  position: relative;
  top: -94%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.plus-icon:hover,
.minus-icon:hover {
  color: grey;
}

.button-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.MuiFormLabel-root {
  color: white !important;
}

.MuiInputBase-input {
  color: white !important;
}
